#leftThing:hover {
  transform: scale(1.2); 
}
#content1:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#content2:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#rightThing:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  .column1:hover{ 
  transform: scale(1.2);
}
.column2:hover{ 
  transform: scale(1.2);
}
.column3:hover{ 
  transform: scale(1.2);
}
.column4:hover{ 
  transform: scale(1.2);
}
#container {
  height: 100%;
  width: 100%;
  display: flex;
}
#leftThing {
  width: 25%;
  transition: transform .1s;

}
#content1 {
  width: 25%;
   transition: transform .1s;
}

#content2 {
  width: 25%;
   transition: transform .1s;
}
#rightThing {
  width: 25%;
   transition: transform .1s;
}

.column1 {
  position: relative;
  left: 120px; 
  width: 25%;
   transition: transform .1s;
}
.column2{
  position: relative;
  left: 120px;
  width:25%;
   transition: transform .1s;
}

.column3 {
  position: relative;
  left: 120px;
  width: 25%;
  height: 10%;
   transition: transform .1s;
}
.column4 {
  position: relative;
  left: 120px;
  width: 25%;
   transition: transform .1s;
}

